body{
    margin: 0 10% 0 10%;
    padding:0;
    background: linear-gradient(135deg,#1e8ba2 ,#d4c1b3);
    width: 100%;
    height: 100vh;
}

.navbar{
    width: 100%;
    height: auto;
    display: flex;
}

.logo{
    width: 30%;
    height: auto;
}

.logo img{
    width: 60%;
    height: auto;
    padding: 15px;
}

.menu{
    width: 50%;
}

.navbar ul li {
    display: inline-block;
    padding: 15px 35px;
}
.navbar ul li a {
    text-decoration: none;
}

.acc{
    width: 20%;
    height: auto;
    margin-left: 25px;
    padding: 25px;
    float: right;
}

.acc button{
    margin-left: 15%;
    border: none;
    border-radius: 55%;
    width: 100px;
    padding: 5px;
}


.txt{
    width: 50%;
    padding: 55px;
}
h1{
    color: white;
    font-weight: 100;
    font-size: 50px;
}

.txt button{
    background: #d4c1b3;
    color: white;
    border: none;
    border-radius: 55px;
    padding: 10px;
}

.im{
    width: 50%;
    height: auto;;
}

.banner{
    display: flex;
}

.im img{
    margin: 10px 55px;
}