* {
    margin: 0;
    padding: 0;
}

#banner {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background: 
        linear-gradient(90deg, rgba(235, 224, 210, 0.9), rgba(246, 239, 225, 0.9)),
        url('../../Images/DeWatermark.ai_1753553654234.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 60%;
    margin: auto;
}

.txt {
    padding: 10px;
}

.txt h1 {
    font-size: 3.5rem;
    color: #423523;
    animation: smoothFade 1.4s ease-out both;
    animation-delay: 0.2s;
    font-weight: 500;
}

h3 {
    margin-bottom: 7px;
}

.form {
    background-color: #fff7f0;
    color: #422d1d;
    padding: 22px 20px;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    margin: 10px;
    transition: transform 0.3s ease;
    animation: smoothFade 1.4s ease-out both;
    animation-delay: 0.4s;
}

form label input {
    display: block;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 15px 10px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: solid 1px black;
    color: #422d1d;
    background-color: #fff7f0;
}

select {
    display: block;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: solid 1px black;
    color: #422d1d;
    background-color: #fff7f0;
}

select option {
    color: #422d1d !important;
    background-color: #fff7f0;
}

form button:hover {
    background: #796147;
    transition: background-color 1s ease;
}
form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #947758;
    color: white;
    margin-top: 5px;
    letter-spacing: 3px;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}
