* {
    margin: 0;
    padding: 0;
}

#banner {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background: 
        linear-gradient(90deg, rgba(235, 224, 210, 0.9), rgba(246, 239, 225, 0.9)),
        url('../../Images/DeWatermark.ai_1753553654234.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.container {
    width: 70%;
    margin: auto;
    z-index: 3;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

.txt {
    padding: 10px;
    width: 50%;
    margin-top: 12%;
}

.txt h1 {
    font-size: 3.5rem;
    color: #423523;
    animation: smoothFade 1.4s ease-out both;
    animation-delay: 0.2s;
    font-weight: 500;
}

.txt p {
    font-size: 1.5rem;
    color: #423523;
    animation: smoothFade 1.4s ease-out both;
    animation-delay: 0.2s;
    font-weight: 100;
}

.grid {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

h3 {
    margin-bottom: 7px;
}

.service-card p {
    line-height: 45px;
}

.service-card {
    background-color: #fff7f0;
    color: #422d1d;
    padding: 22px 20px;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    text-align: center;
    width: 200px;
    margin: 10px;
    transition: transform 0.3s ease;
    animation: smoothFade 1.4s ease-out both;
    animation-delay: 0.4s;
}

.service-card:hover {
        /* transform: scale(1.0); */
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.model {
    display: flex;
    margin: 0 25%;
}

@keyframes smoothFade1 {
    0% {
        opacity: 0;
        transform: translate(5px);
    }
    100% {
        opacity: 0.9;
        transform: translate(0);
    }
}

.model img {
    position: absolute;
    height: 100%;
    width: auto;
    z-index: 2;
    animation: smoothFade1 1.4s ease-out both;
    animation-delay: 0.3s;
}